[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylama = "*"
autopep8 = "*"
mkdocs = "*"
mkdocs-material = "*"

[packages]
pyyaml = "*"

[requires]
python_version = "3.7.4"
